@font-face {
  font-family: "Roboto";
  src: url(client/src/assets/fonts/Roboto-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primaryColor: #8460ec;
  --secondaryColor: #527536;
  --darkText: #1d3853;
  --lightText: #f2f4e7;
  --font: "Roboto", sans-serif;
}
