body {
  background-color: var(--lightText);
  color: var(--lightText);
}

.countryCardMain {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  padding: 7rem 1rem 3rem 1rem;
  gap: 2rem;
}
.countryCard {
  display: flex;
  justify-content: center;
  height: 20rem;
  min-width: 100%;
  max-width: 20rem;
  position: relative;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 45%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://nomadlist.com/cdn-cgi/image/format=auto,fit=cover,width=600,height=300,quality=75/https://nomadlist.com/assets/img/places/bangkok-thailand.jpg?1705449619");
}

.countryTitle {
  display: inline-block;
  align-self: end;
}

.countryInfoHidden {
  display: none;
}

.countryInfoVisible {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: entranceInfo 0.15s ease-in-out 0s 1 normal forwards;
  row-gap: 1rem;
  border-radius: 30px;
  text-decoration: none;
  color: var(--lightText);
  cursor: pointer;
}
label {
  width: 35%;
  text-align: center;
  margin-top: 1.5rem;
}
progress {
  width: 60%;
  height: auto;
  margin-left: 0.4rem;
  margin-top: -6px;
}

@keyframes entranceInfo {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  margin: 0 auto 0 auto;
  width: 10rem;
  height: 2.5rem;
  background-color: #287d48;
  text-decoration: none;
  border-radius: 5px;
  font-size: larger;
  color: var(--lightText);
}

button:hover {
  background-color: #44612d;
}

@media screen and (min-width: 768px) {
  .countryCardMain {
    grid-template-columns: repeat(2, 1fr);
    padding: 8rem 2rem 3rem 2rem;
  }
  .countryCard {
    height: 20rem;
    max-width: 35rem;
  }
}

@media screen and (min-width: 1280px) {
  .countryCardMain {
    grid-template-columns: repeat(3, 1fr);
    padding: 8rem 3rem 3rem 3rem;
  }
  .countryCard {
    height: 20rem;
  }
}


main{
  padding-top: 6rem;
}
.recherche {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  width: 90%;
  color: var(--secondaryColor);
  font-weight: bold;
  font-size: 1.2rem;
}

.recherchebar {
  font-size: 1.5rem;
  margin-top: 1rem;
  }
  
.filtre {
  margin-top: 1rem;
  height: 3rem;
  font-size: 1.5rem;
}

input{
  margin-left: 2.5rem;
  margin-top: 0.5rem;
  height:3rem;
  width: 88% ;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid var(--secondaryColor);
}

select{
  margin-left: 1rem;
  margin-top: 0.5rem;
  height:3rem;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid var(--secondaryColor);
}

label{
margin-left: 1rem;
}

.labelselect{
  padding-left: 1.8rem;
}

::placeholder {
  padding-left: 1rem;
}

@media screen and (min-width: 1280px) {
  .recherche {
    justify-content: space-evenly;
    flex-wrap:nowrap;
}
main{
  padding-top: 8rem;
}
}