nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.navLink {
    background-color: var(--secondaryColor);
    border-radius: 10px;
    font-size: 1.2rem;
}

.navLogo {
    width: clamp(3rem, 4vw, 6rem);
}